<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            nav a {
                padding-right:25 px;
            }
        </style>
    </head>
    <body>
        <div>
            <header> 
                <nav>
                    <a href="/">home</a>
                    <a style="margin:45px" href="./blog">all posts  </a>
                    <a style="margin:45px" href="./newpost">new posts</a>
                    <a style="margin:45px" href="./login"> login </a>
                    <a style="margin:45px" href="./logout">logout</a>
                </nav>
            </header>
        </div>    

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

    </body>
</html>