{% extends "base.html" %}

{% block content %}
<h1>Log in to Blogz!</h1>
<!--<p>If you don't have an account, you may create an account <a href="/signup">signup</a> and sign-up.</p> -->
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" required="required">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
    <div>
        <p>Don't have an account? Create a <a href="/signup">Create One!</a></p>
    </div>

{% endblock %}