{% extends "base.html" %}

{% block content %}

    <h1>new post</h1>

    <form method="post">
        <div>
            <label> title
                <input type="text" name="blog_title" value=""/>
            </br>
            </label>
        </div>
        <div>
            <label> post
                <textarea style="width:300px;height:150px;display:block" name="blog_body" value=""></textarea>  
            </br>
            </label>    
        </div>    
        <div>
            <input type="submit" value="Add Entry">
        </div>
{% endblock %}